<!doctype html>
<html lang="en">
    <head>
       
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

      
        
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="/">Inicio</a>
                <a class="nav-item nav-link" href="/catalogo">Catálogo</a>
                <a class="nav-item nav-link" href="">Nosotros</a>
                <a class="nav-item nav-link" href="">Ubicación</a>
                <a class="nav-item nav-link" href="/sitio/login">Login</a>
            </div>
        </nav>

    <div class="container">
        <br>