<!doctype html>
<html lang="en">
    <head>
       
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

      
        
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="/cliente/inicio_cliente">Inicio</a>
                <a class="nav-item nav-link" href="/cliente/Catalogo">Catálogo</a>
                <a class="nav-item nav-link" href="">Pedidos</a>
                <a class="nav-item nav-link" href="/cliente/perfil">Perfil</a>
                <a class="nav-item nav-link" href="/carrito/show">Carrito</a>
            </div>
        </nav>

    <div class="container">
        <br>